fastapi==0.62.0
uvicorn==0.13.1

#for crud made below changes
#for template 
jinja2

#for static files
aiofiles

#for database   
sqlalchemy         
psycopg2

#for loading environment variables  
python-dotenv

#for crud
databases
asyncpg
pydantic
